<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BicycleTracker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BicycleTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HealthManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - BicycleTracker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAF84BFF1AAF7B5500CFC255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF84C171AAF7B5500CFC255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF84C3A1AAF7C6700CFC255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF84C591AAF880F00CFC255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF84C631AAF880F00CFC255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
